<div class="d-flex justify-content-center align-items-center">
  <div class="signup " id="myForm">
      <form class="form-container">
          <h2>CREATE ACCOUNT</h2>
          <br>
          <input class="signupInput" type="text" placeholder=" frist name" name="text" required>

          <input class="signupInput" type="text" placeholder=" last name" name="text" required>

          <input class="signupInput" type="text" placeholder=" email" name="email" required>

          <input class="signupInput" type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="btn">Register</button>
          <br><br>
      </form>
  </div>
</div>
