<!-- start of Offers -->
<div class="offreContainer my-5">
  <div class="offers">
      <img src="https://ariika.com/cdn/shop/files/2copy_5794e215-76cb-4479-8ed9-af78c14f32cb_540x.webp?v=1705225141">
      <div >
          <div class="offerDetails">
              <h3 class="offerName">NEW CHAIR</h3>
              <h5 class="offerDiscount">Get up to 40% off</h5>
          </div>
          <button class="offerBtn">SHOP NOW</button>
      </div>
  </div>
  <div class="offers">
      <img src="https://ariika.com/cdn/shop/files/new-1_540x.jpg?v=1714381586">
      <div >
          <div class="offerDetails">
              <h3 class="offerName">NEW TABLE</h3>
              <h5 class="offerDiscount">Get up to 60% off</h5>
          </div>
          <button class="offerBtn">SHOP NOW</button>
      </div>
  </div>
  <div class="offers">
      <img src="https://ariika.com/cdn/shop/files/2-new_copy_1_3c5c5e8e-d427-4f34-b89f-78a80dda19ed_540x.jpg?v=1720531902">
      <div>
          <div class="offerDetails">
              <h3 class="offerName">NEW ARIIKA</h3>
              <h5 class="offerDiscount">Get up to 40% off</h5>
          </div>
          <button class="offerBtn">SHOP NOW</button>
      </div>
  </div>
</div>
<!-- End of Offers -->
