<!-- start of services -->
<div class="container">
    <div class="section_4 mt-5">
        <div class="services text-center">
            <div class="services_icon" >
                <img class="coloredIcon" src="../../../../assets/images/delivery-truck-color.png" alt="" width="60">
                <img class="nonColoredIcon"  src="../../assets/images/delivery-truck-black.png" alt="" width="60">
            </div>

            <div class="services_desc mt-3">
                <h4>Free Delivery</h4>
                <p>Free Shipping On All Order</p>
            </div>
            <hr class="bottomLine">

        </div> <!-- services END -->

        <div class="services">
            <div class="services_icon" >
                <img class="coloredIcon" src="../../../../assets/images/exchange-color.png" alt="" width="55">
                <img class="nonColoredIcon"  src="../../assets/images/exchange-black.png" alt="" width="55">
            </div>

            <div class="services_desc mt-3">
                <h4>14-Day returns</h4>
                <p>shop with confidense</p>
            </div>
            <hr class="bottomLine">
            <div class="verticalLine"></div>
        </div> <!-- services END -->

        <div class="services">
            <div class="services_icon" >
                <img class="coloredIcon" src="../../../../assets/images/credit-cards-color.png" alt="" width="55">
                <img class="nonColoredIcon"  src="../../assets/images/credit-cards-black.png" alt="" width="55">
            </div>

            <div class="services_desc mt-3">
                <h4>security payments</h4>
                <p>Up to 12 month installments</p>
            </div>
            <hr class="bottomLine">
            <div class="verticalLine"></div>
        </div> <!-- services END -->

        <div class="services">
            <div class="services_icon" >
                <img class="coloredIcon" src="../../../../assets/images/pantone-color.png" alt="" width="55">
                <img class="nonColoredIcon"  src="../../../../assets/images/pantone-black.png" alt="" width="55">
            </div>

            <div class="services_desc mt-3">
                <h4>Free Fabric Swatches</h4>
                <p>delivered to your door</p>
            </div>
            <hr class="bottomLine">
            <div class="verticalLine"></div>

        </div> <!-- services END -->

    </div> <!-- section_4 -->
    <div class="services_line"></div>
</div> <!-- servicesContainer -->
<!-- end of Services -->
